<div class="container">
	<div class="d-flex ion-justify-content-center">
		<div class="top-label-frame">
			<div class="top-label">#S312313</div>
		</div>
	</div>

	<div class="d-flex primary-info ion-align-items-center ion-margin-bottom">
		<div class="name primary-info-color">Johnathan</div>
		<div class="bonus ion-text-uppercase">$20 bonus</div>
	</div>

	<div class="d-flex w-100 ion-align-items-center ion-justify-content-end secondary-info secondary-info-color semi-bold ">
		<ion-grid>
			<ion-row>
				<ion-col size="6">
					<ion-grid class="left-side">
						<ion-row>
							<ion-col size="4">
								<div class="d-flex ion-justify-content-center num-of-bags secondary-info-color">
									5
								</div>
							</ion-col>
							<ion-col size="8">
								<div class="d-flex ion-justify-content-center cost">
									$31
								</div>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="4">
								<div class="d-flex ion-justify-content-center ion-align-items-start text-small semi-bolder ion-text-uppercase">
									bags
								</div>
							</ion-col>
							<ion-col size="8">
								<div class="d-flex ion-justify-content-center ion-align-items-center text-small semi-bolder ion-text-uppercase">
									estimate
									<ion-icon style="margin-left: 5px"
											  name="information-circle"></ion-icon>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
				<div class="separator"></div>
				<ion-col size="6" class="d-flex ion-align-items-center">
					<ion-grid class="right-side">
						<ion-row>
							<ion-col size="12">
								<div class="location secondary-info-color">
									Baltimore, MD
								</div>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="12">
								<div class="text-small semi-bolder">
									25 min / 5.0 mile drive
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<ion-item #confirmation
			  class="confirmation primary-info-color d-flex ion-align-items-center"
			  lines="none">
		<ion-checkbox slot="start"
					  class="square-checkbox"
					  [(ngModel)]="confirmed"
		></ion-checkbox>
		<ion-label>I confirm that I have lorem ipsum dolor sit amet.</ion-label>
	</ion-item>

	<app-slider-button #slider
					   label="Slide To Accept"
					   (valueChange)="onSlide($event)">
	</app-slider-button>
</div>
