.container {
	padding: 0 16px 16px 16px;
}

.top-label-frame {
	overflow: hidden;
	height: 24px;
}
.top-label {
	display: inline-flex;
	align-items: flex-end;
	font-size: 16px;
	font-variant: all-small-caps;
	font-weight: 600;
	color: var(--ion-color-medium-shade);
	background-color: var(--ion-color-danger-contrast);
	margin-top: -30px;
	border-radius: 30px;
	height: 42px;
	padding: 3px 20px;
	box-shadow: 0 1px 2px 0 rgba(var(--ion-color-medium-rgb), .4);
}

.name {
	font-size: 32px;
	font-weight: 700;
	margin: 12px 20px 12px 0;
}

.bonus {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 4px 16px;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 700;
	height: 25px;
	color: var(--ion-color-success-contrast);
	background-color: var(--ion-color-success);
	margin-top: 16px;
	margin-bottom: 12px;
	box-shadow: 1px 1px 1px 0 rgba(var(--ion-color-medium-rgb), .4);
}

.semi-bold {
	font-weight: 700;
}

.text-small {
	font-size: 12px;
}

.num-of-bags {
	font-size: 28px;
}

.cost {
	font-size: 30px;
}

.location {
	font-size: 20px;
	margin-bottom: 5px;
}

.secondary-info-color {
	color: var(--ion-color-medium);
}

.primary-info-color {
	color: var(--ion-color-dark);
}

.secondary-info {
	--ion-grid-padding-xs: 0;
	--ion-grid-column-padding: 0;

	margin-bottom: 30px;

	.left-side {
		border-right: 1px var(--ion-color-dark) solid;
	}
}

.square-checkbox {
	--border-radius: 2px;
	--border-width: 2px;
	--size: 16px;
	--border-color: var(--ion-color-dark);
	--checkmark-color: var(--ion-color-success);
	--background-checked: var(--ion-color-success);
	--border-color-checked: var(--ion-color-dark);
	--transition: none;

	margin-right: 5px;
	margin-left: 10px;
}

.confirmation {
	&.shake {
		animation: shake 820ms cubic-bezier(.36,.07,.19,.97) both;
	}

	@keyframes shake {
		10%, 90% {
			transform: translate3d(-1px, 0, 0);
		}

		20%, 80% {
			transform: translate3d(2px, 0, 0);
		}

		30%, 50%, 70% {
			transform: translate3d(-4px, 0, 0);
		}

		40%, 60% {
			transform: translate3d(4px, 0, 0);
		}
	}
}
