<ion-content [forceOverscroll]="false">
	<ion-grid>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row>
			<ion-col size="12">
				<div class="d-flex h-100 ion-justify-content-center ion-align-items-center ion-padding">
					<ion-button color="primary"
								(click)="showModal()">Show Modal</ion-button>
				</div>
			</ion-col>
		</ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
		<ion-row><ion-col></ion-col></ion-row>
	</ion-grid>

<!--	a colorful pattern-->
	<ion-button size="full" color="light">Lorem ipsum.</ion-button>
	<ion-button size="full" color="dark">Lorem ipsum.</ion-button>
	<ion-button size="full" color="success">Lorem ipsum.</ion-button>
	<ion-button size="full" color="warning">Lorem ipsum.</ion-button>
	<ion-button size="full" color="danger">Lorem ipsum.</ion-button>
	<ion-button size="full" color="medium">Lorem ipsum.</ion-button>
	<ion-button size="full" color="primary">Lorem ipsum.</ion-button>
	<ion-button size="full" color="secondary">Lorem ipsum.</ion-button>
	<ion-button size="full" color="tertiary">Lorem ipsum.</ion-button>
	<ion-button size="full" color="success">Lorem ipsum.</ion-button>
	<ion-button size="full" color="warning">Lorem ipsum.</ion-button>
	<ion-button size="full" color="danger">Lorem ipsum.</ion-button>
	<ion-button size="full" color="medium">Lorem ipsum.</ion-button>
	<ion-button size="full" color="primary">Lorem ipsum.</ion-button>
	<ion-button size="full" color="secondary">Lorem ipsum.</ion-button>
	<ion-button size="full" color="tertiary">Lorem ipsum.</ion-button>
</ion-content>
